body {
	margin: 0;
	background-color: #eee;
}

.frame {
	background: #fff;
	width: 975px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.content {
	width: 775px;
	margin: 0 auto;
}

.content-list {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

h1 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 42px;
	color: #930;
	line-height: .8;
	margin-bottom: 25px;
}

h2 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 28px;
	color: #333;
	line-height: 1;
	margin-top: 28px;
	margin-bottom: 0;
}

h3 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 22px;
	color: #333;
	font-style: italic;
	line-height: 1;
	margin-top: 28px;
	margin-bottom: 0;
}

.subtitle {
	line-height: 0;
	margin-bottom: 50px;
	margin-top: 0;
	font-style: italic;
}

.list-title {
	font-family: Georgia;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 8px;
}

p {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 1.8;
	color: #1c1c1c;
	margin-top: 15px;
	margin-bottom: 15px;
}

ol {
	padding-left: 20px;
	margin-top: 0;
}

ul {
	padding-left: 20px;
}

li {
	font-family: Helvetica;
	font-size: 14px;
	color: #333;
	line-height: 1.8;
}

a {
	color: #930;
}

a:hover {
	text-decoration: none;
}

blockquote {
	font-family: Georgia;
	font-size: 16px;
	color: #333; 
	background: #f9f9f9;
	border-left: #eaeaea solid 10px;
	line-height: 1.8;
	padding: 30px;
	margin-left: 0;
	margin-top: 18px;
	margin-bottom: 18px;
	width: 725px;
}

#break {
	margin-bottom: 40px;
}