img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

div {
    box-sizing: padding-box;
    padding: 10px;
    height: 37px;
    width: 120px;
    border: 1px solid #6495ED;
    border-bottom: 3px solid #6495ED;
    background-color: #BCD2EE;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
    font-family: sans-serif;
}

