.content {
    margin: 0 auto;
    width: 950px;
}

#header {
    text-align: center;
    height: 70px;
    width: 950px;
    background-color: #EEEEEE;
    position:fixed;
    z-index: 1;
    padding-bottom: 17px;
}

h1 {
    font-family: Helvetica;
    color: #4c4c4c;
}

.left {
	position: relative;
	float: left;
	margin-top: 100px;
	width: 10%;
	height: 460px;
	background-color: #EEEEEE;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 100px;
	width: 88%;
	height: 460px;
	margin-bottom: 10px;
	font-family: sans-serif;
}

#footer {
    clear:both;
}